/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url(chrome://messenger/content/messenger.xul) {

#calendar-show-todaypane-panel,
#calendar-invitations-panel,
#today-splitter,
#calendar-tab-button,
#task-tab-button,
#lightning-button-calendar,
#lightning-button-tasks,
#menu_Open,
#ltnNewEvent,
#ltnNewTask,
#afterltnNewTask,
#ltnNewCalendar,
#ltnCalendarProperties,
#ltnViewMenuSeparator,
#ltnTodayPaneMenu,
#ltnCalendarMenu,
#ltnTasksMenu,
#ltnGoToToday,
#ltnGoNextSeparator,
#calendar-go-menu-next,
#ltnGoPreviousSeparator,
#calendar-go-menu-previous,
#menu_Event_Task,
#mailContext-calendar-convert-menu {
    display: none !important;
}

#openMessageFileMenuitem {
    display: block !important;
}

#today-pane-panel,
#calendarTabPanel {
    visibility: collapse !important;
}

calendar-day-view,
calendar-week-view,
calendar-multiweek-view,
calendar-month-view,
calendar-task-tree,
menupopup[type="task-progress"] > arrowscrollbox,
menupopup[type="task-priority"] > arrowscrollbox,
task-menupopup,
calendar-caption,
.item-date-row,
lightning-notification-bar,
#calendar-task-tree-detail > calendar-task-tree,
treenode-checkbox,
modebox,
modevbox,
modehbox,
toolbarbutton[doubleimage="true"],
toolbarbutton[todaypane="true"],
minimonth,
datepicker,
datepicker-forever,
datetimepicker,
datetextpicker,
timepicker,
timepicker-grids,
timepicker-minute,
timepicker-hour,
calendar-base-view,
calendar-editable-item,
calendar-category-box,
calendar-shadow-box,
agenda-checkbox-richlist-item,
agenda-richlist-item,
agenda-allday-richlist-item,
daypicker {
    -moz-binding: none !important;
    display: none !important;
}

}

@-moz-document url(chrome://messenger/content/msgAccountCentral.xul) {

#lightning-newCalendar-separator,
#lightning-newCalendar-row {
    display: none !important;
}

}
