/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

@-moz-document url(chrome://messenger/content/messenger.xul) {

#calendar-show-todaypane-panel,
#calendar-invitations-panel,
#today-splitter,
#calendar-tab-button,
#task-tab-button,
#lightning-button-calendar,
#lightning-button-tasks,
#menu_Open,
#ltnNewEvent,
#ltnNewTask,
#afterltnNewTask,
#ltnNewCalendar,
#ltnCalendarProperties,
#ltnViewMenuSeparator,
#ltnTodayPaneMenu,
#ltnCalendarMenu,
#ltnTasksMenu,
#ltnGoToToday,
#ltnGoNextSeparator,
#calendar-go-menu-next,
#ltnGoPreviousSeparator,
#calendar-go-menu-previous,
#menu_Event_Task,
#mailContext-calendar-convert-menu {
    display: none !important;
}

#openMessageFileMenuitem {
    display: block !important;
}

#today-pane-panel,
#calendarTabPanel {
    visibility: collapse !important;
}

}

@-moz-document url(chrome://messenger/content/msgAccountCentral.xul) {

#lightning-newCalendar-separator,
#lightning-newCalendar-row {
    display: none !important;
}

}