/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://$NAME/skin/sunbird/button.css");

/*--------------------------------------------------------------------
 *   Primary toolbar buttons
 *-------------------------------------------------------------------*/

.cal-toolbarbutton-1 {
    list-style-image: url("chrome://$NAME/skin/sunbird/btn1.png");
    background-color: transparent !important;
}

/*--------------------------------------------------------------------
 *   Cut button
 *-------------------------------------------------------------------*/

#calendar-cut-button {
    list-style-image: url("chrome://editor/skin/icons/btn1.gif");
    -moz-image-region: rect(374px 49px 408px 0);
}

#calendar-cut-button:hover {
    -moz-image-region: rect(374px 99px 408px 50px);
}

#calendar-cut-button:hover:active {
    -moz-image-region: rect(374px 149px 408px 100px);
}

#calendar-cut-button[disabled="true"] {
    -moz-image-region: rect(374px 199px 408px 150px) !important;
}

/*--------------------------------------------------------------------
 *   Copy button
 *-------------------------------------------------------------------*/

#calendar-copy-button {
    list-style-image: url("chrome://editor/skin/icons/btn1.gif");
    -moz-image-region: rect(408px 49px 442px 0)
}

#calendar-copy-button:hover {
    -moz-image-region: rect(408px 99px 442px 50px);
}

#calendar-copy-button:hover:active {
    -moz-image-region: rect(408px 149px 442px 100px);
}

#calendar-copy-button[disabled="true"] {
    -moz-image-region: rect(408px 199px 442px 150px) !important;
}

/*--------------------------------------------------------------------
 *   Paste button
 *-------------------------------------------------------------------*/

#calendar-paste-button {
    list-style-image: url("chrome://editor/skin/icons/btn1.gif");
    -moz-image-region: rect(442px 49px 476px 0);
}

#calendar-paste-button:hover {
    -moz-image-region: rect(442px 99px 476px 50px);
}

#calendar-paste-button:hover:active {
    -moz-image-region: rect(442px 149px 476px 100px);
}

#calendar-paste-button[disabled="true"] {
    -moz-image-region: rect(442px 199px 476px 150px) !important;
}

/*--------------------------------------------------------------------
 *   Choose date button
 *-------------------------------------------------------------------*/

#calendar-choose-date-button {
    padding-top: 1px;
    -moz-image-region: rect(136px 45px 170px 0px);
}

#calendar-choose-date-button:hover {
    -moz-image-region: rect(136px 90px 170px 45px);
}

#calendar-choose-date-button:hover:active {
    -moz-image-region: rect(136px 135px 170px 90px);
}

#calendar-choose-date-button[disabled="true"] {
    -moz-image-region: rect(136px 180px 170px 135px);
}

/*--------------------------------------------------------------------
 *   delete event button
 *-------------------------------------------------------------------*/

#calendar-delete-button {
    padding-top: 1px;
    -moz-image-region: rect(272px 45px 306px 0px);
}

#calendar-delete-button:hover {
    -moz-image-region: rect(272px 90px 306px 45px);
}

#calendar-delete-button:hover:active {
    -moz-image-region: rect(272px 135px 306px 90px);
}

#calendar-delete-button[disabled="true"] {
    -moz-image-region: rect(272px 180px 306px 135px);
}

/*--------------------------------------------------------------------
 *   Print button
 *-------------------------------------------------------------------*/

#calendar-print-button {
    list-style-image: url("chrome://communicator/skin/icons/common.png");
    -moz-image-region: rect(5px 42px 39px 0);
}

#calendar-print-button:hover {
    -moz-image-region: rect(5px 84px 39px 42px);
}

#calendar-print-button:hover:active {
    -moz-image-region: rect(5px 126px 39px 84px);
}

#calendar-print-button[disabled="true"] {
    -moz-image-region: rect(5px 168px 39px 126px) !important;
}

/*--------------------------------------------------------------------
 *   Go To Today button
 *-------------------------------------------------------------------*/

#calendar-go-to-today-button {
    -moz-image-region: rect(170px 45px 204px 0px);
}

#calendar-go-to-today-button:hover {
    -moz-image-region: rect(170px 90px 204px 45px);
}

#calendar-go-to-today-button:hover:active {
    -moz-image-region: rect(170px 135px 204px 90px);
}

#calendar-go-to-today-button[disabled="true"] {
    -moz-image-region: rect(170px 180px 204px 135px);
}

/*--------------------------------------------------------------------
 *   Remote Reload button
 *-------------------------------------------------------------------*/

#calendar-remote-reload-button {
  list-style-image: url("chrome://navigator/skin/icons/browser.png");
  -moz-image-region: rect(0px 480px 24px 456px);
}

#calendar-remote-reload-button:hover {
  -moz-image-region: rect(24px 480px 48px 456px);
}

#calendar-remote-reload-button[disabled="true"] {
  -moz-image-region: rect(48px 480px 72px 456px);
}

/*--------------------------------------------------------------------
 *   new event button
 *-------------------------------------------------------------------*/

#calendar-new-event-button {
    -moz-image-region: rect(204px 45px 238px 0px);
}

#calendar-new-event-button:hover {
    -moz-image-region: rect(204px 90px 238px 45px);
}

#calendar-new-event-button:hover:active {
    -moz-image-region: rect(204px 135px 238px 90px);
}

#calendar-new-event-button[disabled="true"] {
    -moz-image-region: rect(204px 180px 238px 135px) !important;
}

/*--------------------------------------------------------------------
 *   New Task button
 *-------------------------------------------------------------------*/

#calendar-new-task-button {
    -moz-image-region: rect(306px 45px 340px 0px);
}

#calendar-new-task-button:hover {
    -moz-image-region: rect(306px 90px 340px 45px);
}

#calendar-new-task-button:hover:active {
    -moz-image-region: rect(306px 135px 340px 90px);
}

#calendar-new-task-button[disabled="true"] {
    -moz-image-region: rect(306px 180px 340px 135px) !important;
}

/*--------------------------------------------------------------------
 *   edit event button
 *-------------------------------------------------------------------*/

#calendar-edit-button {
    -moz-image-region: rect(238px 45px 272px 0px);
}

#calendar-edit-button:hover {
    -moz-image-region: rect(238px 90px 272px 45px);
}

#calendar-edit-button:hover:active {
    -moz-image-region: rect(238px 135px 272px 90px);
}

#calendar-edit-button[disabled="true"] {
    -moz-image-region: rect(238px 180px 272px 135px);
}

/*--------------------------------------------------------------------
 *   Unifinder button
 *-------------------------------------------------------------------*/

#calendar-unifinder-button {
    list-style-image: url("chrome://editor/skin/icons/btn1.gif");
    -moz-image-region: rect(476px 49px 510px 0);
}

#calendar-unifinder-button:hover {
    -moz-image-region: rect(476px 99px 510px 50px);
}

#calendar-unifinder-button:hover:active,
#calendar-unifinder-button[checked="true"] {
    -moz-image-region: rect(476px 149px 510px 100px);
}

#calendar-unifinder-button[disabled="true"] {
    -moz-image-region: rect(476px 199px 510px 150px) !important;
}

/*--------------------------------------------------------------------
 *   Import button
 *-------------------------------------------------------------------*/

#calendar-import-button {
    -moz-image-region: rect(0px 264px 24px 240px);
}

#calendar-import-button:hover {
    -moz-image-region: rect(24px 264px 48px 240px);
}

#calendar-import-button[disabled="true"] {
    -moz-image-region: rect(48px 264px 72px 240px) !important;
}

/*--------------------------------------------------------------------
 *   Export button
 *-------------------------------------------------------------------*/

#calendar-export-button {
    -moz-image-region: rect(0px 288px 24px 264px);
}

#calendar-export-button:hover {
    -moz-image-region: rect(24px 288px 48px 264px);
}

#calendar-export-button[disabled="true"] {
    -moz-image-region: rect(48px 288px 72px 264px) !important;
}

/*--------------------------------------------------------------------
 *   Subscribe button
 *-------------------------------------------------------------------*/

#calendar-subscribe-button {
    -moz-image-region: rect(0px 312px 24px 288px);
}

#calendar-subscribe-button:hover {
    -moz-image-region: rect(24px 312px 48px 288px);
}

#calendar-subscribe-button[disabled="true"] {
    -moz-image-region: rect(48px 312px 72px 288px) !important;
}

/*--------------------------------------------------------------------
 *   Publish button
 *-------------------------------------------------------------------*/

#calendar-publish-button {
    -moz-image-region: rect(0px 336px 24px 312px);
}

#calendar-publish-button:hover {
    -moz-image-region: rect(24px 336px 48px 312px);
}

#calendar-publish-button[disabled="true"] {
    -moz-image-region: rect(48px 336px 72px 312px) !important;
}

/*--------------------------------------------------------------------
 *   Button: "Multiweek"
 *-------------------------------------------------------------------*/

#calendar-multiweek-view-tbutton {
    -moz-image-region: rect(68px 45px 102px 0px);
}

#calendar-multiweek-view-tbutton:hover {
    -moz-image-region: rect(68px 90px 102px 45px);
}

#calendar-multiweek-view-tbutton:hover:active,
#calendar-multiweek-view-tbutton[checked="true"] {
    -moz-image-region: rect(68px 135px 102px 90px);
}

/*--------------------------------------------------------------------
 *   Button: "Month View"
 *-------------------------------------------------------------------*/

#calendar-month-view-tbutton {
    -moz-image-region: rect(102px 45px 136px 0px);
}

#calendar-month-view-tbutton:hover {
    -moz-image-region: rect(102px 90px 136px 45px);
}

#calendar-month-view-tbutton:hover:active,
#calendar-month-view-tbutton[checked="true"] {
    -moz-image-region: rect(102px 135px 136px 90px);
}

/*--------------------------------------------------------------------
 *   Button: "Week View"
 *-------------------------------------------------------------------*/

#calendar-week-view-tbutton {
    -moz-image-region: rect(34px 45px 68px 0px);
}

#calendar-week-view-tbutton:hover {
    -moz-image-region: rect(34px 90px 68px 45px);
}

#calendar-week-view-tbutton:hover:active,
#calendar-week-view-tbutton[checked="true"] {
    -moz-image-region: rect(34px 135px 68px 90px);
}

/*--------------------------------------------------------------------
 *   Button: "Day View"
 *-------------------------------------------------------------------*/

#calendar-day-view-tbutton {
    -moz-image-region: rect(0 45px 34px 0px);
}

#calendar-day-view-tbutton:hover {
    -moz-image-region: rect(0 90px 34px 45px);
}

#calendar-day-view-tbutton:hover:active,
#calendar-day-view-tbutton[checked="true"] {
    -moz-image-region: rect(0 135px 34px 90px);
}
