/*
# -*- Mode: Java; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*-
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/

/*--------------------------------------------------------------------
 *   MAIN view deck - contains nav buttons and views
 *-------------------------------------------------------------------*/
#view-deck {
  background: #FFFFFF;
  padding: 0px;
}

#view-tabbox{
    display: none;
}

/*--------------------------------------------------------------------
 *   menubar
 *-------------------------------------------------------------------*/
#menubar-items {
  -moz-box-orient: vertical; /* for flex hack */
}

#menubar-items > menubar {
  -moz-box-flex: 1; /* make menu items expand to fill toolbar height */
}

/*--------------------------------------------------------------------
 * print preview
 *-------------------------------------------------------------------*/
toolbar[printpreview="true"] {
  -moz-binding: url("chrome://global/content/printPreviewBindings.xml#printpreviewtoolbar");
}

/*--------------------------------------------------------------------
 * reverting custom splitter style
 *-------------------------------------------------------------------*/
#calsidebar_splitter {
  border-width: 0 2px !important;
  border-style: solid !important;
  -moz-border-left-colors: ThreeDShadow ThreeDHighlight !important;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDFace !important;
  min-width: 6px !important;
  width: 8px !important;
  background-color: ThreeDFace !important;
  margin-top: 0 !important;
  -moz-margin-end: 0 !important;
  position: static !important;
  z-index: auto !important;
  transition: none !important;
}
/*
#calsidebar_splitter:-moz-locale-dir(rtl) {
  border-width: 0 2px;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDFace;
}

#calsidebar_splitter[state="collapsed"]:hover:-moz-locale-dir(rtl) {
  border-width: 0 2px;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDFace;
}

#calsidebar_splitter[state="collapsed"]:hover:-moz-locale-dir(ltr) {
  border-width: 0 2px;
  -moz-border-right-colors: ThreeDDarkShadow ThreeDFace;
}*/