/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#mini-cal {
  list-style-image: url("chrome://lightbird/skin/taskbar-cal.gif");
}

#mini-cal:hover:active {
  list-style-image: url("chrome://lightbird/skin/taskbar-cal-act.gif");
}

#tasksMenuCalendar {
  list-style-image: url("chrome://lightbird/skin/calendar-16.gif");
}

#mini-cal[BiffState="Alarm"] {
  list-style-image: url("chrome://lightbird/skin/taskbar-calalarm.gif");
}

#mini-cal[BiffState="Alarm"]:hover:active {
  list-style-image: url("chrome://lightbird/skin/taskbar-calalarm-act.gif");
}
