/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/*--------------------------------------------------------------------
 *   MAIN view deck - contains nav buttons and views
 *-------------------------------------------------------------------*/
#view-deck {
  background: #FFFFFF;
  padding: 0px;
}

#view-tabbox {
  display: none;
}

/*--------------------------------------------------------------------
 * print preview
 *-------------------------------------------------------------------*/
toolbar[printpreview="true"] {
  -moz-binding: url("chrome://global/content/printPreviewBindings.xml#printpreviewtoolbar");
}
