/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#calendar-button {
  list-style-image: url("chrome://calendar/skin/cal-icon24.png");

  &[BiffState="Alarm"] {
    list-style-image: url("chrome://$NAME/skin/cal-icon24-alarm.png");
  }

  toolbar[iconsize="small"] & {
    list-style-image: url("chrome://$NAME/skin/cal-icon16.png");

    &[BiffState="Alarm"] {
      list-style-image: url("chrome://$NAME/skin/cal-icon16-alarm.png");
    }
  }
}
