/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#calendar-button {
  list-style-image: url("chrome://lightbird/skin/calendar-toolbar.svg#calendar-tab");

  &[BiffState="Alarm"] {
    list-style-image: url("chrome://lightbird/skin/calendar-toolbar.svg#priority");
  }

  toolbar[brighttext] & {
    list-style-image: url("chrome://lightbird/skin/calendar-toolbar.svg#calendar-tab-inverted");

    &[BiffState="Alarm"] {
      list-style-image: url("chrome://lightbird/skin/calendar-toolbar.svg#priority-inverted");
    }
  }
}
